<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <th:block th:include="include :: header('修改密码')" />
</head>
<body>
<th:block th:include="include :: body" />
<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column"></div>
        <div class="col-md-4 column">
            <form role="form">
                <div class="form-group">
                    <label >用户名</label><input type="text" class="form-control" disabled="disabled"  th:value="${user.userName}" id="username" />
                </div>
                <div class="form-group">
                    <label>输入新密码</label><input type="password" class="form-control" id="password" />
                </div>
                <div class="form-group">
                    <label>确认新密码</label><input type="password" class="form-control" id="password-a" />
                </div>
                <div class="checkbox" style="text-align:right">
                    <button type="submit" class="btn btn-default" id="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/web/userPassword.js}"></script>
</body>

</html>